body {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    counter-reset: page;
}

h2 {
    page-break-before: always;
    margin-top: 0;
}
h1 {
    page-break-before: always;
    margin-top: 0;
}
pre {
    background-color: #1e1e1e; /* VS Code dark background */
    color: #d4d4d4;           /* Default text color */
    font-family: "Fira Code", "Courier New", monospace;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;    /* Allow code to wrap */
    word-wrap: break-word;    /* Break long words */
    /* page-break-inside: avoid; */
    overflow-y: auto;        /* Ensure code blocks are fully visible */
}

code {
    color: #c586c0; /* Syntax color */
}

/* Add specific colors for code syntax */
.hljs-keyword { color: #569cd6; }
.hljs-string { color: #ce9178; }
.hljs-comment { color: #6a9955; font-style: italic; }
.hljs-function { color: #dcdcaa; }